/data/
/alertmanager
/amtool
*.yml
*.yaml
/.build
/.release
/.tarballs

!/config/testdata/*.yml
!/cli/testdata/*.yml
!/cli/config/testdata/*.yml
!/doc/examples/simple.yml
!/circle.yml
!/.travis.yml
!/.promu.yml
